<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/dashboardLayout.html}"
    >
  <head>
    
  </head>
  <body>
      <main class="container">
        
    <section class="row" layout:fragment="content">
        <div class="col-6 offset-3 mt-4">
        <form th:action="@{/admin/accounts/saveOrUpdate}" method="Post" th:object="${account}">

            <div class="card">
                <div class="card-header">
                    <h2>Add New Account</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label for="categoryId">Username</label>
                      <input type="text" class="form-control" th:field="*{username}" aria-describedby="categoryIdHId" placeholder="Input Username">
                      <small id="categoryIdHId" class="form-text text-muted">Username is required</small>
                    </div>

                    <div class="form-group">
                      <label for="name">Password</label>
                      <input type="text" class="form-control" th:field="*{password}" aria-describedby="nameHId" placeholder="Input password">
                      <small id="nameHId" class="form-text text-muted">Password is required</small>
                    </div>
                </div>
                <div class="card-footer text-muted">
                  <button type="reset" class="btn btn-secondary">Reset</button>
                  <a th:href="@{/admin/accounts}" class="btn btn-success">List Accounts <a/>
                  <button class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                </div>
            </div>
        </form>
        </div>
    </section>
        
      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>